
<div class = "container">
  <div class="jumbotron">
    <h1>Take a Look at Our Selections</h1>
    <p>Serving from only the freshest ingredients</p>
    <p class = "bord  ">
      <%= link_to "Menu", menu_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Contact us", contact_us_path, class: "btn btn-primary btn-lg" %>
    </div>
</div >
